<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container mt-2 length_restriction">
    <h2>Sign Up</h2>
    
    <div class="form-group">
        <%= f.input :name, required: true, autofocus: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label"} %>
    </div>

    <div class="form-group">
      <%= f.input :username, required: true, autofocus: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label"} %>
    </div>
    
    <div class="form-group">
      <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-group">
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "current-password" }, label_html: {class: "label" } %>
    </div>

    <div class="form-group">
      <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }%>
    </div>

    <div class="form-group">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Sign Up", class: "btn mb-2 bg_orangered text-light" %>
    </div>
   
    <%= render "devise/shared/links" %>
  </div>
<% end %>

