<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <%= link_to root_path, class: "navbar-brand" do %>
    <h4 class="title text-light">Posts</h4>
    <% end%>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
       <% if user_signed_in?%>
            <div class="navbar-nav">
               <%= link_to current_user.name, edit_user_registration_path, class: "btn btn-info btn-md" %>
               <%= link_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-info btn-md" %>
            </div>
         <% else %> 
         <div class="navbar-nav">
               <%= link_to "Sign In", new_user_session_path, class: "btn text-light btn-md mr-3" %>
               <%= link_to "Sign Up", new_user_registration_path, class: "btn text-light btn-md" %>
            </div>
       <% end %>
       
    </div>
</nav>